# Question 1
Try 5 different functions of string in Python

In [2]:
str1 = "Hii, Who are you?"
print(str1.replace("Who","How"))

Hii, How are you?

str2 = "Python"
print(''.join(reversed(str2)))

In [6]:
str3 = "Hii How are you ?"
print(str3.split())

['Hii', 'How', 'are', 'you', '?']

In [7]:
str4 = "LETS UPGRADE"
print(str4.lower())

lets upgrade

In [9]:
str5 = "LetsUpgrade"
print(len(str5))

11

# Question 2
Try 5 different functions of list object in Python

In [10]:
list1 = ["Pune","Banglore","Mumbai"]
list1.append("Hyderabad")
print(list1)

['Pune', 'Banglore', 'Mumbai', 'Hyderabad']

In [11]:
list1 = ["Pune","Banglore"]
tuple1 = ("Mumbai","Hyderabad")
list1.extend(tuple1)
print(list1)

['Pune', 'Banglore', 'Mumbai', 'Hyderabad']

In [12]:
list1 = ["Pune","Banglore","Mumbai","Hyderabad"]
ind = list1.index("Mumbai")
print(ind)

2

In [13]:
list1 = ["Pune","Banglore","Mumbai","12345","Hyderabad"]
list1.remove("12345")
print(list1)

['Pune', 'Banglore', 'Mumbai', 'Hyderabad']

In [21]:
list1 = ["Pune","Banglore","Mumbai","Hyderabad"]
list1.sort()
print(list1)

['Banglore', 'Hyderabad', 'Mumbai', 'Pune']

# Question 3
Experiment with 5 default funtions with Dictionary

In [25]:
Dict1 = {1:1 ,2:4, 3:9 , 4:16 , 5:25 , 6:36}
Dict1.pop(3)
print(Dict1)

{1: 1, 2: 4, 4: 16, 5: 25, 6: 36}

In [26]:
Dict1 = {1:1 ,2:4, 3:9 , 4:16 , 5:25 , 6:36}
Dict1.popitem()
print(Dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [28]:
fruit_qa = {"Apple":10 , "Banana":15 , "Grapes":50}
print(fruit_qa.values())
fruit_qa["Grapes"] = 100
print(fruit_qa.values())

dict_values([10, 15, 50])
dict_values([10, 15, 100])

In [30]:
fruit_qa = {"Apple":10 , "Banana":15 , "Grapes":50}
print(fruit_qa)
fruit_qa.update({"Cherry":70})
print(fruit_qa)

{'Apple': 10, 'Banana': 15, 'Grapes': 50}
{'Apple': 10, 'Banana': 15, 'Grapes': 50, 'Cherry': 70}

In [32]:
fruit_qa = {"Apple":10 , "Banana":15 , "Grapes":50}
print(fruit_qa.get("Banana"))
print(fruit_qa.get("Chiku"))

15
None